@import "../../_variables.scss";

mat-list {
  padding-top: 0;
}

mat-spinner {
  margin-top: 2rem;
  float: left;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
